<div class="titlebar white box-shadow">
    <div class="l-h m-r pull-right">
        <div class="pull-right m-l" style="border-bottom: 3px solid #42a5f5;">
            <input type="text" class="input-line w-xl" placeholder="按产品名称、简称、编号搜索" ng-model="search.keyWord" ng-keypress="doSearch()" style="border-bottom-width: 0; font-size: 1.125rem;">
            <span class="blueWt" ng-click="fuzzySearch()"><i class="fa fa-search" aria-hidden="true" style="font-size: 1.2rem; cursor: pointer;"></i></span>
        </div>
    </div>
</div>
<div class="padding">
    <div id="modal-alert"></div>
    <div id="body-alert"></div>
    <div class="white r box-shadow-z0 m-b filter-box">
		<div class="filterbar p-b p-l p-r">
			<div class="filter-content">
				<div class="select-box p-t">
					<input class="form-control" type="text" placeholder="商品名称" ng-model="search.keyWord">
				</div>
			</div>
			<div class="filter-act m-t">
				<button class="btn btn-fw blueLt" ng-click="saveAll()">全部保存</button>&nbsp;
				<button class="btn btn-fw blueLt" ng-click="doSearch()">筛选</button>
			</div>
		</div>
	</div>
    <div class="box" style="border-radius: 2px;">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-striped b-t b-b no-footer">
                    <thead>
                        <tr role="row">
                            <th class="th-nh">商品编码</th>
                            <th class="th-nh">商品名称</th>
                            <th class="th-nh">商品简称</th>
                            <th class="th-nh">中类</th>
                            <th class="th-nh">包装类型</th>
                            <th class="th-nh">规格</th>
                            <th class="th-nh">操作</th>
                        </tr>
                    </thead>
                        <tbody>
                            <tr ng-if="data.tbLoding == -1 || data.tbLoding == 1">
                              <td colspan="10" style="text-align:center;">正在加载数据！</td>
                            </tr>
                            <tr ng-if="data.tbLoding == 0 && data.content.length <= 0">
                              <td colspan="10" style="text-align:center;">没有数据！</td>
                            </tr>
                            <tr dir-paginate="item in data.content|itemsPerPage:data.itemsPerPage" total-items="data.total_count" current-page="data.curPageno" pagination-id="product_list">
                                <td class="td-id-nh">
                                  <span ng-bind="item.matnr.slice(-8)"></span>
                                </td>
                                <td style="width: 200px;" ><span ng-bind="item.matnrTxt"  ></span></td>
                                <td><span >
                                 		<input type="text" class="w-xl"   ng-model="item.shortTxt" ng-keypress="fuzzySearch($event)" style="font-size: 0.8rem;width: 160px;">
                                	</span>
                                </td>
                                <td><span ng-bind="item.secCateName"></span></td>
                                <td><span ng-bind="item.zbotCodeName"></span></td>
                                <td><span ng-bind="item.specName"></span></td>
                                <td>
                                    <div class="btn-groups">
                                        <button ng-click="save(item)" class="btn btn-xs btn-outline rounded b-primary text-primary">保存</button>
                                    </div>
                                </td>                         
                            </tr>
                        </tbody>
                </table>  
                <footer class="text-center">
                            <dir-pagination-controls
                                max-size="8"
                                direction-links="true"
                                boundary-links="true" 
                                pagination-id="product_list"
                                on-page-change="data.getData(newPageNumber)"
                                template-url="nhtpl/pagination.tpl.html">
                            </dir-pagination-controls>
                </footer>  
            </div>
        </div>
    </div>
</div>

