<style>
td{
	/*font-size: 0.8rem !important;*/
}

select{
	border: 1px solid;
	size: 2;
}





</style>

<div class="titlebar white box-shadow">
	<div class="l-h m-r pull-right">
		<div class="pull-right m-l">
			<a class="nav-link" href="" ng-click="toTab2()">
				<span class="hidden-xs-down btn btn-sm rounded blueLt"> <i class="fa fa-plus"></i>
                   		新增学校奶品政策
                </span>
			</a>
		</div>
	</div>
</div>

<div class="padding" >
	<div id="body-alert" class="text-center"></div>
	<div id="modal-alert"></div>

	<!--条件开始 -->
	<div class="white r box-shadow-z0 m-b filter-box">
		<div class="filterbar p-b p-l p-r">
			<div class="filter-content">
					<div class="select-box p-t">
					<input class="form-control" type="text" placeholder="学校名称，学校编码" ng-model="search.keyWord">
				</div>

				<div class="select-box p-t">
					<ui-select ng-model="search.visiable" search-enabled="false" append-to-body="true">
						<ui-select-match placeholder="选择状态" allow-clear="true">
							<span ng-bind="$select.selected.label"></span>
						</ui-select-match>
						<ui-select-choices repeat="x.code as x in visibles ">
							<span ng-bind="x.label"></span>
						</ui-select-choices>
					</ui-select>
				</div>
			</div>
			<div class="filter-act m-t">
				<button class="btn btn-fw blueLt" ng-click="saveAll()">全部保存</button>&nbsp;
				<button class="btn btn-fw blueLt" ng-click="doSearch()">筛选</button>
			</div>

		</div>
	</div>
	<!--条件结束 -->

	<div class="box" style="border-radius: 2px;">
		<div class="row">
			<div class="col-sm-12" style="overflow:scroll;">
				<table class="table table-striped b-t b-b no-footer">
					<thead>
						<tr role="row">
							<th class="th-nh" nowrap="nowrap">
								禁用
							</th>
							<th class="th-nh" nowrap="nowrap">代码</th>
							<th class="th-nh" nowrap="nowrap">学校名称</th>
							<th class="th-nh">星期一</th>
							<th class="th-nh">星期二</th>
							<th class="th-nh">星期三</th>
							<th class="th-nh">星期四</th>
							<th class="th-nh">星期五</th>
							<th class="th-nh">操作</th>
						</tr>
					</thead>
					<tbody>
						
						
						<tr ng-if="data.tbLoding == -1 || data.tbLoding == 1">
							<td colspan="10" style="text-align:center;">正在加载数据！</td>
						</tr>
						<tr ng-if="data.tbLoding == 0 && data.content.length <= 0">
							<td colspan="10" style="text-align:center;">没有数据！</td>
						</tr>

						<tr dir-paginate="item in data.content | itemsPerPage : data.itemsPerPage" total-items="data.total_count" current-page="data.curPageno" pagination-id="school_list_set">
							<td class="th-nh" style="width:  130px;">
								
								<label class="md-check" style="" >
			                        <input type="checkbox"  ng-click="chekOne(item.checkbox,item)"   ng-model="item.checkbox"  class="ng-pristine ng-untouched ng-valid">
			                        <i class="red"></i>
                   				 </label>
								
							</td>
							<td class="td-id-nh" style="width:  130px;"><span>{{item.schoolCodeTxt}}</span></td>
							<td  nowrap="nowrap" style="width: 10%;"><span>{{item.schoolName}}</span></td>
							<td  style="width:  130px;">
								 <select ng-model="item.week1Matnr"  style="width: 130px;" class="js-input-select-title">  
								 	  <option value=""></option> 
								      <option ng-repeat="milk in milkTypeList" value="{{milk.matnr}}">{{milk.matnrTxt}}</option>  
								 </select>  
							</td>

							<td  style="width:  130px;">
								
								 <select ng-model="item.week2Matnr" style="width:  130px;"  class="js-input-select-title">  
								 	  <option value=""></option> 
								      <option ng-repeat="milk in milkTypeList" value="{{milk.matnr}}">{{milk.matnrTxt}}</option>  
								 </select>  
								
							</td>

							<td  style="width:  130px;">
								 <select ng-model="item.week3Matnr" style="width:  130px;"  class="js-input-select-title">  
								 	  <option value=""></option> 
								      <option ng-repeat="milk in milkTypeList" value="{{milk.matnr}}">{{milk.matnrTxt}}</option>  
								 </select>  
								
							</td>

							<td  style="width:  130px;">
								 <select ng-model="item.week4Matnr" style="width:  130px;"  class="js-input-select-title">  
								 	  <option value=""></option> 
								      <option ng-repeat="milk in milkTypeList" value="{{milk.matnr}}">{{milk.matnrTxt}}</option>  
								 </select>  
							</td>

							<td  style="width:  130px;">
								 <select ng-model="item.week5Matnr"  style="width:  130px;" class="js-input-select-title">  
								 	  <option value=""></option> 
								      <option ng-repeat="milk in milkTypeList"  value="{{milk.matnr}}">{{milk.matnrTxt}}</option>  
								 </select>  
							</td>

							<td  style="width: 10%;">
								<div class="btn-groups">
									<button class="btn btn-xs btn-outline rounded b-primary text-primary" ng-click="save(item)">保存</button>
								</div>
							</td>
							</span>

						</tr>
					</tbody>
				</table>
				
				<footer class="text-center">
					<dir-pagination-controls max-size="8" direction-links="true" boundary-links="true" pagination-id="school_list_set" on-page-change="data.getData(newPageNumber)" template-url="nhtpl/pagination.tpl.html">
					</dir-pagination-controls>
				</footer>
			</div>
		</div>
	</div>
</div>

<!--新增学校-->
<script type="text/ng-template" id="newSchollInfo.html">

	<form name="newSchollInfo" role='form' novalidate>
		<div class="modal-header">
			<h3 class="modal-title">新增学校</h3>
		</div>
		<div class="modal-body">
			<div class="box-body label-lg">
				<div class="row form-lh m-b">
					<div class="col-md-2 text-right modal-label">学校代码</div>
					<div class="col-md-3 form-check">
						<input type="text" class="form-control" ng-model="school.schoolCode" ng-minlength="10" ng-maxlength="10" ng-pattern="/\d{10}/" required>

					</div>

					<div class="col-md-1 form-check">
						<button class="btn btn-xs btn-outline rounded b-primary text-primary" ng-click="gain(school.schoolCode)">获取</button>
					</div>

					<div class="col-md-2 text-right modal-label">学校名称</div>
					<div class="col-md-3">
						<input type="text" class="form-control" ng-model="school.schoolName" required>
						<i class="fa fa-asterisk noEmptyIcon" aria-hidden="true"></i>
					</div>

				</div>
				<div class="row form-lh m-b">
					<div class="col-md-2 text-right modal-label">联系电话</div>
					<div class="col-md-3 form-check">
						<input name="orgTel" type="text" class="form-control" ng-model="school.tel" ng-minlength="11" ng-maxlength="11" ng-pattern="/\d{11}/" ng-focus="nom.focus('telError')" ng-blur="nom.blur('telError')">
						<div class="error-msg" style="visibility: hidden; bottom: -22px; right: auto;" ng-show="nom.telError">
							<span class="label label-lg danger pos-rlt m-r-xs text-sm"><b class="arrow top b-danger" style="left: 20%"></b>请输入有效的电话号码！</span>
						</div>
					</div>

					<div class="col-md-1 form-check">
					</div>

					<div class="col-md-2 text-right modal-label">手机</div>
					<div class="col-md-3 form-check">
						<input name="orgMp" type="text" class="form-control" ng-model="school.phone" ng-minlength="11" ng-maxlength="11" ng-pattern="/\d{11}/" ng-focus="nom.focus('mpError')" ng-blur="nom.blur('mpError')">
						<div class="error-msg" style="visibility: hidden; bottom: -22px; right: auto;" ng-show="nom.mpError">
							<span class="label label-lg danger pos-rlt m-r-xs text-sm"><b class="arrow top b-danger" style="left: 20%"></b>请输入有效的电话号码！</span>
						</div>
					</div>
				</div>
				<div class="row form-lh m-b">
					<div class="col-md-2 text-right modal-label">联系人</div>
					<div class="col-md-3">
						<input type="text" class="form-control" ng-model="school.contact" required>
						<i class="fa fa-asterisk noEmptyIcon" aria-hidden="true"></i>
					</div>

					<div class="col-md-1 form-check">
					</div>

					<div class="col-md-2 text-right modal-label">学校地址</div>
					<div class="col-md-3">
						<input type="text" class="form-control" ng-model="school.address">
					</div>
				</div>
			</div>

			<div class="row form-lh m-b">
				<div class="col-md-7" style="border: 1px solid #ccc ;width:90%;height: 280px;wbackground-color: red;margin-left: 55px;overflow-y: scroll;">
					<table class="table table-striped b-t b-b no-footer">
						<thead>
							<tr role="row">
								<th class="th-nh" nowrap="nowrap">代码</th>
								<th class="th-nh" nowrap="nowrap">班级</th>
								<th class="th-nh" nowrap="nowrap">操作</th>
							</tr>
						</thead>

						<tbody>
							<tr ng-repeat="cls in school.classInfoArray">
								<td  style=""><span>{{cls.classCode}}</span></td>
								<td  style=""><span>{{cls.className}}</span></td>
								<td  style="">
									<div class="btn-groups">
										<button class="btn btn-xs btn-outline rounded b-primary text-primary" ng-click="deleteClas(cls)">删除</button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!--<div class="row form-lh m-b">
				<button class="btn btn-fw blueLt" style="margin-left: 55px;" type="button" ng-click="setClass()">添加班级</button>
			</div>-->
		</div>
		<div class="modal-footer">
			<button class="btn btn-fw blueLt p-x-md" type="button" ng-click="save()">保存</button>
			<button class="btn btn-fw primary p-x-md" type="button" ng-click="cancelModal()">关闭</button>
		</div>

	</form>
</script>




<!--新增学校-->
<script type="text/ng-template" id="tab2.html">
	<form name="tab2" role='form' novalidate>
		<div class="modal-header">
			<h3 class="modal-title">新增学校奶品政策</h3>
		</div>
		<div class="modal-body">
				 <div class="box-body label-lg"  >
					 	<div class="row form-lh m-b">
		                    <div class="col-md-2 text-right modal-label">选择学校</div>
		                    <div class="col-md-3 form-check" style="width: auto;">
			                    <ui-select ng-model="order.schoolCode" search-enabled="true" append-to-body="false">
									<ui-select-match placeholder="请选择学校" allow-clear="true">
										<span ng-bind="$select.selected.schoolName"></span>
									</ui-select-match>
									<ui-select-choices repeat="item.schoolCode as item in (schoolList | filter:$select.search) ">
										<span ng-bind="item.schoolName"></span>
									</ui-select-choices>
								</ui-select>
		                    </div>
	              	  </div>
	              	  
				 </div> 
		</div>
		<div class="modal-footer">
			<button class="btn btn-fw blueLt p-x-md" id="tab2Save" type="button" ng-click="save()">保存</button>
			<button class="btn btn-fw primary p-x-md" type="button" ng-click="cancelModal()">关闭</button>
		</div>

	</form>
</script>