
<div class="titlebar white box-shadow">
    <!-- <div class="l-h m-l pull-right pull-rightest">
        <a class="nav-link" href="" ng-click="allReturn()">
            <span class="hidden-xs-down btn btn-sm rounded blueLt">
                批量退回
            </span>
        </a>
    </div> -->
    <!-- <div class="l-h m-l pull-right">
        <a class="nav-link" href="" ng-click="allBack()">
            <span class="hidden-xs-down btn btn-sm rounded blueLt">
                批量退订
            </span>
        </a>
    </div> -->
    <div class="l-h m-r pull-right">
        <a class="nav-link m-l" href="" ng-click="newSalesOrg()">
            <span class="hidden-xs-down btn btn-sm rounded blueLt">
                新增公司
            </span>
        </a>
    </div>
    <div class="pull-right m-l" style="border-bottom: 3px solid #42a5f5;">
        <input type="text" class="input-line" placeholder="按公司编号、名称搜索" ng-model="search.salesOrgInput" ng-keypress="fuzzySearch($event)" style="width: 25rem;border-bottom-width: 0; font-size: 1.125rem;">
        <span class="blueWt" ng-click="fuzzySearch()"><i class="fa fa-search" aria-hidden="true" style="font-size: 1.2rem; cursor: pointer;"></i></span>
    </div>
</div>

<!-- ######## 右侧开始-->
<div class="padding">

  <div id="modal-alert"></div>
  <div id="body-alert"></div>
  
  <div class="white r box-shadow-z0 m-b filter-box">
    <div class="box p-b p-l p-r">
        <a data-toggle="collapse" data-target="#filter"
           class="navbar-item pull-right hidden-md-up m-a-0 m-l">
            <i class="material-icons"></i>
        </a>
        <!-- navbar collapse -->
        <div class="collapse navbar-toggleable-sm" id="filter">
            <div class="filterbar">
                <div class="filter-content">
                    <!-- <div class="select-box p-t">
                        <ui-select ng-model="search.empNo" search-enabled="true" append-to-body="true">
                            <ui-select-match placeholder="选择送奶员" allow-clear="true">
                                <span ng-bind="$select.selected.empName"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="x.empNo as x in (canSelectEmps | filter: $select.search) track by x.empNo">
                                <span ng-bind-html="x.empName | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    
                    <div class="select-box p-t">
                        <ui-select ng-model="search.status" search-enabled="false" append-to-body="true">
                            <ui-select-match placeholder="选择状态" allow-clear="true">
                                <span ng-bind="$select.selected.text"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="x.code as x in (statuses | filter: $select.search) track by x.code">
                                <span ng-bind="x.text"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div> -->
                                 
                </div>

                <div class="filter-act p-a">
                    <button class="btn btn-fw blueLt" ng-click="reloadTable()">筛选</button>
                </div>
            </div>
        </div>
        <!-- / navbar collapse -->
    </div>
  </div>

  <!-- ###  表格开始-->
  <div class="box" style="border-radius: 2px;">
    <div class="row">
        <div class="col-sm-12">
          <table id="orderlist" class="table table-striped b-t b-b no-footer" nh-checkbox checked-datas="checkboxArrs">
            <thead>
              <tr role="row">
                <th>
                    <label class="md-check">
                        <input type="checkbox" ng-model="allChFlag">
                        <i class="blue"></i>
                    </label>
                </th>
                <th class="th-nh">
                    公司编号
                </th>
                <th class="th-nh">公司名称</th>
                
                <th class="th-nh">创建时间</th>
                <th class="th-nh">操作</th>
              </tr>
            </thead>
            <tbody>
                <tr ng-if="tbLoding == -1 || tbLoding == 1">
                  <td colspan="11" style="text-align:center;">正在加载数据！</td>
                </tr>
                <tr ng-if="tbLoding == 0 && content.length <= 0">
                  <td colspan="11" style="text-align:center;">没有数据！</td>
                </tr>
                <tr current-page="curPageno" pagination-id="salesOrg_main" dir-paginate="salesOrg in content|itemsPerPage:itemsPerPage" total-items="total_count">
                    <td>
                        <label class="md-check">
                            <input type="checkbox" checked-data="{{salesOrg.itemCode}}">
                            <i class="blue"></i>
                        </label>
                    </td>
                    <td class="td-id-nh" style="font-size: 1rem;"><span ng-bind="salesOrg.itemCode"></span></td>
                    <td><span ng-bind="salesOrg.itemName"></span></td>
                    
                    <td><span ng-bind-html="dateFormat(salesOrg.createAt)"></span></td>
                    <td>
                       
                        <div class="btn-groups">
                            <button ng-click="showSalesOrg(salesOrg.itemCode)" class="btn btn-xs btn-outline rounded b-primary text-primary">查看</button>
                            <button ng-click="editSalesOrg(salesOrg.itemCode)" class="btn btn-xs btn-outline rounded b-info text-info">编辑</button>
                        </div>
                          
                    </td>                         
                </tr>
            </tbody>
          </table> 
          <div class="p-t m-l m-b" style="float: left;margin-right: -100%;">
              <span>每页显示&nbsp;</span>
              <button type="button" class="btn btn-sm white"
                      ng-model="itemsPerPage"
                      data-caret-html="&nbsp;<span class='nh-caret'></span>"
                      bs-options="size for size in pageSizes"
                      bs-select>
              </button>
              <span>&nbsp;条</span>
          </div> 
          <footer class="text-center">
            <dir-pagination-controls pagination-id="salesOrg_main"
                max-size="8"
                direction-links="true"
                boundary-links="true" 
                on-page-change="getData(newPageNumber)"
                template-url="nhtpl/pagination.tpl.html">
            </dir-pagination-controls>
          </footer>  
        </div>
    </div>
  </div>
      <!-- ###  表格结束-->

<!--CompanyAddModal modal 新增 -->
    <script type="text/ng-template" id="CompanyAddModal.html">
      <div class="modal-header blueLt">
            <h3 class="modal-title">新增公司</h3>
      </div>

      <form name="salesOrgForm" role="form" novalidate>
      <div class="modal-body p-lg">
        <div class="modal-title">
          <strong>请填写以下信息</strong>
        </div>   

        <div class="row">
          <div class="col-md-4">
            <div class="col-md-4">
              <label class="modal-label">公司编码</label>
            </div>
            <div class="col-md-8">
                <input name="itemCode" class="md-input" ng-model="item.itemCode" required>
                <div class="error-msg" ng-messages="salesOrgForm.itemCode.$error" ng-show="salesOrgForm.itemCode.$touched" style="bottom: 1.25rem">
                    <div ng-message="required">
                        <span class="label label-lg danger pos-rlt m-r-xs text-sm"><b class="arrow left b-danger"></b>不能为空！</span>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="col-md-4">
              <label class="modal-label">公司名称</label>
            </div>
            <div class="col-md-8">
                <input name="itemName" class="md-input" ng-model="item.itemName" required>
                <div class="error-msg" ng-messages="salesOrgForm.itemName.$error" ng-show="salesOrgForm.itemName.$touched" style="bottom: 1.25rem">
                    <div ng-message="required">
                        <span class="label label-lg danger pos-rlt m-r-xs text-sm"><b class="arrow left b-danger"></b>不能为空！</span>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="nhdashline"></div>

        <div class="row">
          <div class="col-md-4">
            <div class="col-md-4">
              <label class="modal-label">可有属性1</label>
            </div>
            <div class="col-md-8">
                <input name="attr1" class="md-input" ng-model="item.attr1">
            </div>
          </div>
          <div class="col-md-4">
            <div class="col-md-4">
              <label class="modal-label">可有属性2</label>
            </div>
            <div class="col-md-8">
                <input name="attr2" class="md-input" ng-model="item.attr2">
            </div>
          </div>
          <div class="col-md-4">
            <div class="col-md-4">
              <label class="modal-label">可有属性3</label>
            </div>
            <div class="col-md-8">
                <input name="attr3" class="md-input" ng-model="item.attr3">
            </div>
          </div>
        </div>
        
        
      </div>
      </form>

      <div class="modal-footer">
            <button type="button" class="btn btn-fw blueLt p-x-md" ng-click="save()" ng-disabled="salesOrgForm.$invalid">保存</button>
            <button type="button" class="btn btn-fw primary p-x-md" ng-click="cancelModal()">关闭</button>
      </div>
    </script>
    <!-- modal end -->

    <!--CompanyShowModal modal 查看 -->
    <script type="text/ng-template" id="CompanyShowModal.html">
      <div class="modal-header blueLt">
            <h3 class="modal-title">查看公司</h3>
      </div>

      <div class="modal-body p-lg">   

        <div class="row">
          <div class="col-md-4">
            <div class="col-md-4">
              <label class="modal-label">公司编码</label>
            </div>
            <div class="col-md-8">
                {{item.itemCode}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="col-md-4">
              <label class="modal-label">公司名称</label>
            </div>
            <div class="col-md-8">
               {{item.itemName}}
            </div>
          </div>
        </div>
        <div class="nhdashline"></div>

        <div class="row">
          <div class="col-md-4">
            <div class="col-md-4">
              <label class="modal-label">可有属性1</label>
            </div>
            <div class="col-md-8">
                {{item.attr1}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="col-md-4">
              <label class="modal-label">可有属性2</label>
            </div>
            <div class="col-md-8">
                {{item.attr2}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="col-md-4">
              <label class="modal-label">可有属性3</label>
            </div>
            <div class="col-md-8">
                {{item.attr3}}
            </div>
          </div>
        </div>
      
        
      </div>

      <div class="modal-footer">
            <button type="button" class="btn btn-fw primary p-x-md" ng-click="cancelModal()">关闭</button>
      </div>
    </script>
    <!-- modal end -->

    <!--CompanyEditModal modal 编辑 -->
    <script type="text/ng-template" id="CompanyEditModal.html">
      <div class="modal-header blueLt">
            <h3 class="modal-title">编辑公司</h3>
      </div>

      <form name="salesOrgForm" role="form" novalidate>
      <div class="modal-body p-lg">
        <div class="modal-title">
          <strong>请修改以下信息</strong>
        </div>   

        <div class="row">
          <div class="col-md-4">
            <div class="col-md-4">
              <label class="modal-label">公司编码</label>
            </div>
            <div class="col-md-8">
                {{item.itemCode}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="col-md-4">
              <label class="modal-label">公司名称</label>
            </div>
            <div class="col-md-8">
                <input name="itemName" class="md-input" ng-model="item.itemName" required>
                <div class="error-msg" ng-messages="salesOrgForm.itemName.$error" ng-show="salesOrgForm.itemName.$touched" style="bottom: 1.25rem">
                    <div ng-message="required">
                        <span class="label label-lg danger pos-rlt m-r-xs text-sm"><b class="arrow left b-danger"></b>不能为空！</span>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="nhdashline"></div>

        <div class="row">
          <div class="col-md-4">
            <div class="col-md-4">
              <label class="modal-label">可有属性1</label>
            </div>
            <div class="col-md-8">
                <input name="attr1" class="md-input" ng-model="item.attr1">
            </div>
          </div>
          <div class="col-md-4">
            <div class="col-md-4">
              <label class="modal-label">可有属性2</label>
            </div>
            <div class="col-md-8">
                <input name="attr2" class="md-input" ng-model="item.attr2">
            </div>
          </div>
          <div class="col-md-4">
            <div class="col-md-4">
              <label class="modal-label">可有属性3</label>
            </div>
            <div class="col-md-8">
                <input name="attr3" class="md-input" ng-model="item.attr3">
            </div>
          </div>
        </div>
        
        
      </div>
      </form>

      <div class="modal-footer">
            <button type="button" class="btn btn-fw blueLt p-x-md" ng-click="save()" ng-disabled="salesOrgForm.$invalid">保存</button>
            <button type="button" class="btn btn-fw primary p-x-md" ng-click="cancelModal()">关闭</button>
      </div>
    </script>
    <!-- modal end -->