<div class="padding notitlebar">
    <div id="action-alert"></div>
	<div class="row">
        <div class="box-header">
        	<h3>历史数据导入</h3>
        	<small>说明：只能使用固定模版进行导入，且信息都不能为空，不能有重复信息，请仔细检查核对。
        	<label class="text-danger">导入顺序请遵守先后顺序。小区主数据-->订户主数据-->订单-->订单日计划-->奶站、小区关联数据</label>
        	</small>
        </div>
        <div class="box-divider"></div>
        <div class="box-body" ng-controller="CreateUUIDsCtrl">
        	<button class="btn btn-outline b-info text-info  b-2x" ng-click="downOrg('AreaTemplate')">小区主数据模版</button> 
        	<button class="btn btn-outline b-info text-info  b-2x" ng-click="downOrg('CustTemplate')">订户模版</button> 
        	<button class="btn btn-outline b-info text-info  b-2x" ng-click="downOrg('OrderTemplate')">订单模版</button>
        	<button class="btn btn-outline b-info text-info  b-2x" ng-click="downOrg('AreaBranchTemplate')">小区、奶站关联关系模版</button> 
        	<button class="btn btn-outline b-info text-info  b-2x" ng-click="downArea()">省市区代码下载</button> 
        </div>
        <div class="box-divider"></div>
        <div class="box-body">
        	<div class="col-md-12">
        		<div class="col-md-3" ng-controller="AreaTableCtrl">
			     <div class="row">
			     	<div class="form-group m-b-sm">
			     		<label>请选择要上传的小区信息文件：</label>
			     		<div class="md-form-group">

			     			<input type="file"  name="certificate" nv-file-select uploader="uploader" ng-click="clearItems()"/>        			     
			     		</div>
			     	</div>
			     </div>
        		 <button class="btn btn-outline b-info text-info b-2x" ng-click="UploadFile()">小区信息导入</button>       			
        		</div>
        		<div class="col-md-3" ng-controller="orderTableCtrl">
			     <div class="row">
			     	<div class="form-group m-b-sm">
			     		<label>请选择要上传的订户信息文件：</label>
			     		<div class="md-form-group">

			     			<input type="file"  name="certificate" nv-file-select uploader="uploader" ng-click="clearItems()"/>        			     
			     		</div>
			     	</div>
			     </div>        		
        		<button class="btn btn-outline b-info text-info b-2x" ng-click="UploadFile()">订户信息导入</button>      			
        		</div>  
        		<div class="col-md-3" ng-controller="preorderTableCtrl">
			     <div class="row">
			     	<div class="form-group m-b-sm">
			     		<label>请选择要上传的订单信息文件：</label>
			     		<div class="md-form-group">

			     			<input type="file"  name="certificate" nv-file-select uploader="uploader" ng-click="clearItems()"/>        			     
			     		</div>
			     	</div>
			     </div> 
        		<button class="btn btn-outline b-info text-info  b-2x" ng-click="UploadFile()">订单信息导入</button>      			
        		</div>   

        		<div class="col-md-3" ng-controller="eccorderTableCtrl">
			     <div class="row">
			     	<div class="form-group m-b-sm">
			     		<label>请选择要上传的电商订单信息文件：</label>
			     		<div class="md-form-group">

			     			<input type="file"  name="certificate" nv-file-select uploader="uploader" ng-click="clearItems()"/>        			     
			     		</div>
			     	</div>
			     </div> 
        		<button class="btn btn-outline b-info text-info  b-2x" ng-click="UploadFile()">电商订单信息导入</button>      			
        		</div>

        		<div class="col-md-3" ng-controller="LinksTableCtrl">
			     <div class="row">
			     	<div class="form-group m-b-sm">
			     		<label>请选择要上传的奶站、配送区域关联表文件：</label>
			     		<div class="md-form-group">

			     			<input type="file"  name="certificate" nv-file-select uploader="uploader" ng-click="clearItems()"/>        			     
			     		</div>
			     	</div>
			     </div> 
        		<button class="btn btn-outline b-info text-info  b-2x" ng-click="UploadFile()">奶站、配送区域关联表导入</button>      			
        		</div>     		
        	</div>

			<div class="col-md-12 m-t-lg">
				<div class="col-md-3" ng-controller="CreateUUIDsCtrl" style="padding-left: 0;">
					<div class="input-group">
						<input type="number" min=1 class="form-control nh-number-valid" ng-model="uuidCount" placeholder="请输入UUID个数">
				        <div class="error-msg" style="visibility: hidden; bottom: -30px; right: auto;">
				          <span class="label label-lg danger pos-rlt m-r-xs text-sm"><b class="arrow top b-danger" style="left: 20%"></b>请填写大于0的数字！</span>
				        </div>
						<span class="input-group-btn">
							<button class="btn blueLt" ng-click="createUUID()">批量生成UUID</button>
						</span>
					</div>
					<div class="m-t white scroll-y" style="height: 300px;">
						<div ng-repeat="uuid in uuids" ng-bind="uuid"></div>
					</div>
				</div>
			</div>
        </div>
	</div>
</div>
<script type="text/ng-template" id="uploadTable.html">
	<div class="modal-header">
		<h3 class="modal-title">历史数据上传</h3>
	</div>
	 <div class="modal-body p-lg">
	 <div id="action-alert"></div>
	     <div class="row">
	    <div class="form-group m-b-sm">
	        <label>请选择要上传的历史数据文件：</label>
	        <div class="md-form-group">

	                <input type="file"  name="certificate" nv-file-select uploader="uploader" ng-click="clearItems()"/>
	        </div>
	    </div>
	    </div>
	  
	 </div>
      <!--box body end--> 
     
      <!--box  end-->
    </div>
    <div class="modal-footer">
      <button class="btn btn-fw blueLt p-x-md" type="button" ng-click="synVipcust()">确定</button>
      <button class="btn btn-fw primary p-x-md" type="button" ng-click="cancelModal()">关闭</button>
    </div>
</script>
<script type="text/ng-template" id="districtCode.html">
	<div class="modal-header">
		<h3 class="modal-title">省市区代码下载</h3>
	</div>
	 <div class="modal-body p-lg">
	 	<div id="action-alert"></div>
	 	<div class="row">
	 		<div class="form-group m-b-sm">
	 			<div class="col-md-6">
	 				<div class="select-box">
	 					<ui-select ng-model="search.itemCode" search-enabled="true" on-select="data.typeSelected($item)">
	 						<ui-select-match placeholder="省市" allow-clear="true">
	 							<span ng-bind="$select.selected.itemName"></span>
	 						</ui-select-match>
	 						<ui-select-choices repeat="status.itemCode as status in (areas | filter: $select.search) track by status.itemCode">
	 							<span ng-bind="status.itemName"></span>
	 						</ui-select-choices>
	 					</ui-select>
	 				</div>
	 			</div>
	 		</div>
	 	</div>
	 </div>

	 </div>
    <div class="modal-footer">
      <button class="btn btn-fw blueLt p-x-md" type="button" ng-click="downloadAreas()">下载</button>
      <button class="btn btn-fw primary p-x-md" type="button" ng-click="cancelModal()">关闭</button>
    </div>
</script>