<div class="col-md-12 bg">
    <div class="box-body">
        <div class="clearfix m-b nav-active-info">
            <ul class="nav nav-pills nav-sm" ui-nav="">
                <li class="nav-item" ui-sref-active="active">
                    <a ui-sref="newhope.nhlogs.consumerlogs" class="nav-link" href="">
                        <i class="fa fa-list"></i> 订户日志
                    </a>
                </li>
                <li class="nav-item" ui-sref-active="active">
                    <a ui-sref="newhope.nhlogs.orderlogs" class="nav-link" href="">
                        <i class="fa fa-list"></i> 订单日志
                    </a>
                </li>
                <li class="nav-item" ui-sref-active="active">
                    <a ui-sref="newhope.nhlogs.planlogs" class="nav-link" href="">
                        <i class="fa fa-list"></i> 订奶计划日志
                    </a>
                </li>
                <li class="nav-item" ui-sref-active="active">
                    <a ui-sref="newhope.nhlogs.routelogs" class="nav-link" href="">
                        <i class="fa fa-list"></i> 路单日志
                    </a>
                </li>
            </ul>
        </div>
        <!-- 主内容区域-->
        <div id="modal-alert"></div>
        <div ui-view>
        </div>
    </div>
</div>
