
<div class="titlebar white box-shadow">
    <div class="l-h m-r pull-right">
        <button class="btn btn-sm btn-tbw rounded primary" ng-click="returnBack()">返回</button>
    </div>
</div>
<!-- ###  基本信息开始-->
<div class="padding">
	<div id="modal-alert"></div>
	<div class="box info1">
		<div bs-collapse>
			<a ng-click="toggle1 = !toggle1" bs-collapse-toggle>
				<div class="box-header blueLt">
					<h2 class="_600">
						基本信息
						<i class="fa fa-chevron-down pull-right" ng-class="{toggle: !toggle1}" aria-hidden="true"></i>
					</h2>
				</div>
			</a>
			<div class="panel-collapse p-b" bs-collapse-target>
				<div class="box-body">
				<form name="userInfoForm" role='form' nh-keydown novalidate>
					<div class="row">
						<div class="col-md-4">
							<div class="col-md-4">
								<strong>奶站名称</strong>
							</div>
							<div class="col-md-8">
								<input type="text" name="branchName" class="md-input md-input-blue" ng-model="nhmilk.branchName" required>      
							</div>
							<div class="error-msg" ng-messages="userInfoForm.branchName.$error" ng-show="userInfoForm.branchName.$touched">
                                <div ng-message="required">
                                    <span class="label label-lg danger pos-rlt m-r-xs text-sm"><b class="arrow left b-danger"></b>不能为空！</span>
                                </div>
                            </div>
						</div>

						<div class="col-md-4">
							<div class="col-md-4">
								<strong>奶站编号</strong>
							</div>
							<div class="col-md-8">
								 <input type="text" name="branchNo" class="md-input md-input-blue" disabled  placeholder="自动生成" ng-model="nhmilk.branchNo" required>        
							</div>
						</div>
 						<div class="col-md-4">
							<div class="col-md-4">
								<strong>奶站性质</strong>
							 </div>
							 <div class="col-md-8">
								  <ui-select ng-model="nhmilk.branchGroup" search-enabled="false">
                                            <ui-select-match allow-clear="true">
                                                    <span ng-bind="$select.selected.label"></span>
                                                </ui-select-match>
                                                <ui-select-choices repeat="type.code as type in branchGroup track by type.code">
                                                    <span ng-bind="type.label"></span>
                                                </ui-select-choices>
                                            </ui-select>   
                        			</ui-select> 
							 </div>
						</div>
					</div>
					<br>





					<br>
					<div class="row">
						<div class="col-md-4">
							<div class="col-md-3">所属公司</div>
							<div class="col-md-9">
								 <ui-select ng-model="nhmilk.companyCode" search-enabled="false">
	                                    <ui-select-match allow-clear="true">
	                                        <span ng-bind="$select.selected.itemName"></span>
	                                    </ui-select-match>
	                                    <ui-select-choices repeat="type.itemCode as type in companys track by type.itemCode">
	                                        <span ng-bind="type.itemName"></span>
	                                    </ui-select-choices>
	                        	 </ui-select>
							</div>
						</div>
						<!-- 
						<div class="col-md-4">
							<div class="col-md-3">销售组织</div>
							<div class="col-md-9">
								 <ui-select ng-model="nhmilk.salesOrg" search-enabled="false">
	                                    <ui-select-match allow-clear="true">
	                                        <span ng-bind="$select.selected.itemName"></span>
	                                    </ui-select-match>
	                                    <ui-select-choices repeat="type.itemCode as type in salesOrgs track by type.itemCode">
	                                        <span ng-bind="type.itemName"></span>
	                                    </ui-select-choices>
	                        	 </ui-select>
							</div>
						</div> 
						-->

						<div class="col-md-4">
							<div class="col-md-3">所属经销商</div>
							<div class="col-md-9">
								 <ui-select ng-model="nhmilk.dealerNo" search-enabled="false">
	                                    <ui-select-match allow-clear="true">
	                                        <span ng-bind="$select.selected.itemName"></span>
	                                    </ui-select-match>
	                                    <ui-select-choices repeat="type.itemCode as type in companys track by type.itemCode">
	                                        <span ng-bind="type.itemName"></span>
	                                    </ui-select-choices>
	                        	 </ui-select>
							</div>
						</div>
						<div class="col-md-4">
							<div class="col-md-3">关联工厂</div>
							<div class="col-md-9">
								 <ui-select ng-model="nhmilk.werks" search-enabled="false">
	                                    <ui-select-match allow-clear="true">
	                                        <span ng-bind="$select.selected.itemName"></span>
	                                    </ui-select-match>
	                                    <ui-select-choices repeat="type.itemCode as type in allwerks track by type.itemCode">
	                                        <span ng-bind="type.itemName"></span>
	                                    </ui-select-choices>
	                        	 </ui-select>
							</div>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-4">
							<div class="col-md-3">奶站仓库</div>
							<div class="col-md-9">
								 <ui-select ng-model="nhmilk.lgort" search-enabled="false">
	                                    <ui-select-match allow-clear="true">
	                                        <span ng-bind="$select.selected.itemName"></span>
	                                    </ui-select-match>
	                                    <ui-select-choices repeat="type.itemCode as type in lgorts track by type.itemCode">
	                                        <span ng-bind="type.itemName"></span>
	                                    </ui-select-choices>
	                        	 </ui-select>
							</div>
						</div>

						<div class="col-md-4">
							<div class="col-md-3">是否上线</div>
							<div class="col-md-9">
								 <ui-select ng-model="nhmilk.isValid" search-enabled="false">
	                                    <ui-select-match allow-clear="true">
	                                        <span ng-bind="$select.selected.itemName"></span>
	                                    </ui-select-match>
	                                    <ui-select-choices repeat="type.itemCode as type in isValids track by type.itemCode">
	                                        <span ng-bind="type.itemName"></span>
	                                    </ui-select-choices>
	                        	 </ui-select>
							</div>
						</div>

						<div class="col-md-4">
							<div class="col-md-4">成本中心编码</div>
							<div class="col-md-8">
								<input type="text" name="tel" class="md-input md-input-blue" ng-model="nhmilk.kostl">  
							</div>
						</div>
					</div>
					<br>




					<div class="row">
							<div class="col-md-4">
								<div class="col-md-3">开户行</div>
								<div class="col-md-9">
									<input type="text" name="tel" class="md-input md-input-blue" ng-model="nhmilk.openBank">  
								</div>
							</div>
							
							<div class="col-md-4">
								<div class="col-md-3">收款人</div>
								<div class="col-md-9">
									<input type="text" name="payee" class="md-input md-input-blue" ng-model="nhmilk.payee" required>  
								</div>
							</div>

							<div class="col-md-4">
								<div class="col-md-3">银行账户</div>
								<div class="col-md-9">
									<input type="text" name="bankAccount" class="md-input md-input-blue" ng-model="nhmilk.bankAccount"> 
								</div>
							</div>
					 </div>



					 <br>
					<div class="row">
						<div class="col-md-4">
							<div class="col-md-3">电子邮件</div>
							 <div class="col-md-9">
								<input type="text" name="email" class="md-input md-input-blue" ng-model="nhmilk.email"> 
							</div>
						</div>
						<div class="col-md-4">
								<div class="col-md-3">联系电话</div>
								<div class="col-md-9">
									<input type="text" name="tel" class="md-input md-input-blue" ng-model="nhmilk.tel">  
								</div>
						</div>
						<div class="col-md-4 ">
								<div style="float:left;" class="col-md-3">  省市区县 </div> 
         						<div style="float:left;" class="col-md-9 " nh-address-select addr-selected="atmselectAdd"></div>
						</div>
					</div>


					<div class="row">
						<div class="col-md-4">
							<div class="col-md-3">奶站地址</div>
							<div class="col-md-9">
								<input type="text" name="address" class="md-input md-input-blue" ng-model="nhmilk.address"> 
							</div>
						</div>

						<div class="col-md-8">
							<div class="col-md-3">内部销售订单售达方</div>
							<div class="col-md-9">
								 <label class="radio-inline md-check m-r" style="vertical-align: top;">
								<input type="radio" name="targetPerson" value="20" ng-model="nhmilk.targetPerson" nh-auth-disabled>
			                    <i class="primary" ></i>奶站站长
			                 </label>
			                 <label class="radio-inline md-check m-r" style="vertical-align: top;">
			                	<input type="radio" name="targetPerson" value="10" ng-model="nhmilk.targetPerson" nh-auth-disabled>
			                    <i class="primary" ></i>送奶员
			                     </label>
							</div>
						</div>
					</div>
					<br>
				</div>
				</form>
			</div>
	<!-- ######## panel-collapse结束-->
			<div class="l-h m-r pull-right">
					<button class="btn btn-sm primary" ng-click="addBranch()">新增</button>
			</div>


		</div>
	</div>
</div>
<!-- ######## 右侧结束-->
