<div class="titlebar white box-shadow">
    <div class="l-h m-r pull-right">
        <button class="btn btn-sm btn-tbw rounded blueLt" ng-click="back()">返回</button>
    </div>
</div>
<!-- ###  基本信息开始-->
<div class="padding">
	<div id="modal-alert"></div>
	<div class="box info1">
		<div bs-collapse>
			<a ng-click="data.toggle1 = !data.toggle1" bs-collapse-toggle>
				<div class="box-header blueLt">
					<h2 class="_600">
						基本信息
						<i class="fa fa-chevron-down pull-right" ng-class="{toggle: !data.toggle1}" aria-hidden="true"></i>
					</h2>
				</div>
			</a>
			<div class="panel-collapse p-b" bs-collapse-target>
				<div class="box-body">
					<div class="box-header p-l-0">
						<span class="h4 m-r" ng-bind="data.orgInfo.orgName"></span>
						<span class="h5" ng-bind="data.orgInfo.orgCode"></span>
					</div>
					<div class="row m-t">
						<div class="col-md-1"><strong>联系人</strong></div>
						<div class="col-md-3" ng-bind="data.orgInfo.contact"></div>
						<div ng-if="data.orgInfo.tel">
							<div class="col-md-1"><strong>联系电话</strong></div>
							<div class="col-md-3" ng-bind="data.orgInfo.tel"></div>
						</div>
						<div ng-if="data.orgInfo.mp">
							<div class="col-md-1"><strong>手机</strong></div>
							<div class="col-md-3" ng-bind="data.orgInfo.mp"></div>
						</div>
					</div>
					<div class="row m-t">
						<div class="col-md-1"><strong>地址</strong></div>
						<div class="col-md-10" ng-bind="data.orgInfo.address"></div>
					</div>
					<div class="row m-t">
						<div class="col-md-1"><strong>机构创建人</strong></div>
						<div class="col-md-3" ng-bind="data.orgInfo.createByTxt"></div>
						<div class="col-md-1"><strong>机构创建时间</strong></div>
						<div class="col-md-3" ng-bind="data.orgInfo.createAt.nh_formatDate()"></div>
					</div>
					<div class="row m-t">
						<div class="col-md-1"><strong>上次修改人</strong></div>
						<div class="col-md-3" ng-bind="data.orgInfo.lastModifiedByTxt"></div>
						<div class="col-md-1"><strong>上次修改时间</strong></div>
						<div class="col-md-3" ng-bind="data.orgInfo.lastModified.nh_formatDate()"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--box  end-->
	<!--box begin-->
	<div class="box ">
		<div bs-collapse>
			<a ng-click="data.toggle2 = !data.toggle2" bs-collapse-toggle>
				<div class="box-header blueLt">
					<h2 class="_600">
						机构订户列表
						<i class="fa fa-chevron-down pull-right" ng-class="{toggle: !data.toggle2}" aria-hidden="true"></i>
					</h2>
				</div>
			</a>
			<div class="panel-collapse p-b" bs-collapse-target>
				<!---body start-->
				<div class="box" style="border-radius: 2px;">
					<table class="table table-striped b-t b-b no-footer">
						<thead>
							<tr role="row">
								<th class="th-nh">姓名</th>
	                            <th class="th-nh">经销商</th>
	                            <th class="th-nh">所属奶站</th>
	                            <th class="th-nh">首次订奶日期</th>
                                <th class="th-nh">最近订奶日期</th>
	                            <th class="th-nh">联系电话</th>
	                            <th class="th-nh">订户状态</th>
	                            <th class="th-nh">操作</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-if="data.tbLoding == -1 || data.tbLoding == 1">
	                            <td colspan="8" style="text-align:center;">正在加载数据！</td>
	                        </tr>
	                        <tr ng-if="data.tbLoding == 0 && data.content.length <= 0">
	                            <td colspan="8" style="text-align:center;">没有订户！</td>
	                        </tr>
							<tr dir-paginate="item in data.content|itemsPerPage:data.itemsPerPage" total-items="data.total_count" current-page="data.curPageno" pagination-id="orgCsmList">
								<td class="td-id-nh">
									<span ng-bind="item.vipName"></span>
								</td>
								<td><span ng-bind="item.dealerName"></span></td>
								<td><span ng-bind="item.branchName"></span></td>
								<td><span ng-bind="item.firstOrderTime.nh_formatDate()"></span></td>
                                <td><span ng-bind="item.lastOrderTime.nh_formatDate()"></span></td>
								<td><span ng-bind="item.mp"></span></td>
								<td><span ng-bind="data.getObjByCode(item.status)"></span></td>
								<td>
									<div class="btn-groups">
                                        <button ng-click="data.toCsmDetail({edit: false, vipCustNo: item.vipCustNo})" class="btn btn-xs btn-outline rounded b-primary text-primary">查看</button>
                                        <button class="btn btn-xs btn-outline rounded b-info text-info" ui-sref="newhope.orderCreate({selectCust: true, vipCustNo: item.vipCustNo, vipCustName: item.vipName, vipCustTel: item.mp, branchNo: item.branchNo, branchName: item.branchName, vipType: item.vipType, orgId: data.orgInfo.orgCode})">订奶</button>
                                        <button ng-click="data.unbindCsm(item.vipCustNo)" class="btn btn-xs btn-outline rounded b-danger text-danger">解绑</button>
                                    </div>
								</td>
							</tr>
						</tbody>
					</table>
				    <footer class="text-center">
				        <dir-pagination-controls max-size="8"
		                                         direction-links="true"
		                                         boundary-links="true"
		                                         pagination-id="orgCsmList"
		                                         on-page-change="data.getData(newPageNumber)"
		                                         template-url="nhtpl/pagination.tpl.html">
		                </dir-pagination-controls>
				    </footer>
				</div>

				<div class="box-body">
					<div class="row text-right">
						<button class="btn btn-fw blueLt m-r" ui-sref="newhope.addCsmByOrg({orgId: data.orgInfo.id})">新增订户</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--box end -->
	<!--box begin-->
</div>

