
<div class="titlebar white box-shadow">
    <div class="l-h m-r pull-right">
        <button class="btn btn-sm btn-tbw rounded primary" ng-click="returnBack()">返回</button>
          <button class="btn btn-sm btn-tbw rounded primary" ng-click="update()" >保存基础信息</button>
    </div>
</div>

<div class="padding">
    <div id="modal-alert"></div>
    <div class="box info1">
        <div bs-collapse>
                <a ng-click="toggle1 = !toggle1" bs-collapse-toggle>
                    <div class="box-header blueLt">
                        <h2 class="_600">
                            基本信息
                            <i class="fa fa-chevron-down pull-right" ng-class="{toggle: !toggle1}" aria-hidden="true"></i>
                        </h2>
                    </div>
                </a>
                <div class="panel-collapse p-b" bs-collapse-target>
                    <!--box body begin-->
                    <div class="box-body">
                        <div class="row ">
                            <div class="col-md-4 margintop20">
                                 <div class="col-md-4"><label><B>员工编号</B></label></div>
                                 <div class="col-md-8" ">
                                     {{edm.empNo}}
                                 </div>
                            </div>

                            <div class="col-md-4 margintop20">
                                 <div class="col-md-4"><label><B>员工ERP编号</B></label></div>
                                 <div class="col-md-8" ">
                                     {{edm.hrEmpNo}}
                                 </div>
                            </div>
                         

                            <div class="col-md-4 margintop20">
                                 <div class="col-md-4"><label><B>姓名</B></label></div>
                                 <div class="col-md-8" ">
                                     <input type="text" class="form-control r-b-round l-b-round" ng-model="edm.empName">
                                 </div>
                            </div>
                           
                            <div class="col-md-4 margintop20">
                                 <div class="col-md-4"><label><B>性别</B></label></div>
                                 <div class="col-md-4">
                                    <label class="radio-inline md-check m-r" style="vertical-align: top;">
                                        <input type="radio" name="gender" value="10" ng-model="edm.gender">
                                        <i class="primary" style="margin-top: 8px"></i>男
                                    </label>
                                </div>
                                <div class="col-md-4">
                                    <label class="radio-inline md-check m-r" style="vertical-align: top;">
                                        <input type="radio" name="gender" value="20" ng-model="edm.gender" >
                                        <i class="primary" style="margin-top: 8px"></i>女
                                    </label>                  
                                </div>
                            </div>

                             <div class="col-md-4 margintop20">
                                 <div class="col-md-4"><label><B>所属奶站</B></label></div>
                                 <div class="col-md-8" ">
                                    {{edm.branchName}}
                                 </div>
                            </div>

                            <div class="col-md-4 margintop20">
                                 <div class="col-md-4"><label><B>入职时间</B></label></div>
                                 <div class="col-md-8" ">
                                     <input type="text" class="form-control r-b-round w-md" 
                                       name="crDate"
                                       ng-model="edm.joinDate"
                                       data-date-format="yyyy-MM-dd"
                                       data-date-type="string" 
                                       data-autoclose="true"
                                       bs-datepicker>
                                 </div>
                            </div>

                            <div class="col-md-4 margintop20">
                                 <div class="col-md-4"><label><B>联系电话</B></label></div>
                                 <div class="col-md-8" ">
                                     <input type="text" class="form-control r-b-round l-b-round" ng-model="edm.mp">
                                 </div>
                            </div>

                            <div class="col-md-4 margintop20">
                                 <div class="col-md-4"><label><B>身份证号</B></label></div>
                                 <div class="col-md-8" ">
                                     <input type="text" class="form-control r-b-round l-b-round" ng-model="edm.idNo">
                                 </div>
                            </div>

                            <div class="col-md-4 margintop20">
                                 <div class="col-md-4"><label><B>微信号</B></label></div>
                                 <div class="col-md-8" ">
                                     <input type="text" class="form-control r-b-round l-b-round" ng-model="edm.webchat">
                                 </div>
                            </div>
                            
                             <div class="col-md-4 margintop20">
                                 <div class="col-md-4"><label><B>员工状态</B></label></div>
                                 <div class="col-md-8" ">
                                  <ui-select ng-model="edm.status" search-enabled="false" append-to-body="true">
                                      <ui-select-match  allow-clear="true" >
                                            <span ng-bind="$select.selected.label"></span>
                                          </ui-select-match>
                                          <ui-select-choices repeat="status.code as status in handle.statuses track by status.code">
                                            <span ng-bind="status.label"></span>
                                          </ui-select-choices>
                                     </ui-select>
                                 </div>
                            </div>

                            <div class="col-md-4 margintop20">
                                 <div class="col-md-4"><label><B>离职时间</B></label></div>
                                 <div class="col-md-8" ">
                                     <input type="text" class="form-control r-b-round w-md" 
                                       name="crDate"
                                       ng-model="edm.leaveDate"
                                       data-date-format="yyyy-MM-dd"
                                       data-date-type="string" 
                                       data-autoclose="true"
                                       bs-datepicker>
                                 </div>
                            </div>



                            <div class="col-md-4 margintop20">
                                 <div class="col-md-4"><label><B>基本工资</B></label></div>
                                 <div class="col-md-8" ">
                                     <input type="text" class="form-control r-b-round l-b-round" ng-model="edm.baseSalary" nh-auth="emp_basic_salary" nh-auth-disabled>
                                 </div>
                            </div>


                            <div class="col-md-4 margintop20">
                                 <div class="col-md-4"><label><B>SAP客户编号</B></label></div>
                                 <div class="col-md-8" ">
                                     <input type="text" class="form-control r-b-round l-b-round" ng-model="edm.sapcode" >
                                 </div>
                            </div>

                            <div class="col-md-4 margintop20">
                                 <div class="col-md-4"><label><B>结算方式</B></label></div>
                                <div class="col-md-4">
                                    <label class="radio-inline md-check m-r" style="vertical-align: top;">
                                        <input type="radio" name="paym" value="10" ng-model="edm.salaryMet" nh-auth="emp_billway" nh-auth-disabled>
                                        <i class="primary" style="margin-top: 8px"></i>按数量
                                    </label>
                                </div>
                                <div class="col-md-4">
                                    <label class="radio-inline md-check m-r" style="vertical-align: top;">
                                        <input type="radio" name="paym" value="20" ng-model="edm.salaryMet" nh-auth="emp_billway" nh-auth-disabled>
                                        <i class="primary" style="margin-top: 8px"></i>按产品
                                    </label>                  
                                </div>
                              </div>


                        </div>

                            



                         
                    </div>

                    <!--box body end-->
         </div>
     </div>
</div>
            <!--box  end-->
