<div>
        <div id="modal-alert"></div>
        <div class="col-md-12 bg">
            <div class="box-body">
                <div class="clearfix m-b nav-active-info">
                    <ul class="nav nav-pills nav-sm" ui-nav="">
                        <li class="nav-item" ui-sref-active="active">

                            <a ui-sref="newhope.emptransplanStat.tranplanStat" class="nav-link" href="">
                                <i class="fa fa-list"></i> 路单配送差异明细表
                            </a>
                        </li>
                        <li class="nav-item" ui-sref-active="active">
                            <a ui-sref="newhope.emptransplanStat.changeplanStat" class="nav-link" href="">
                                <i class="fa fa-list"></i> 换货差异明细表
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- 主内容区域-->
                <div ui-view class="m-b">
                </div>

            </div>
        </div>
</div>