<div class="dropdown-menu pull-right w-xl animated fadeInUp no-bg no-border no-shadow">
    <div class="scrollable" style="max-height: 600px">
      <ul class="list-group list-group-gap m-a-0">
        <li class="list-group-item blue-A400 lt box-shadow-z0 b">
          <span class="pull-left m-r"> 
            <i class="fa fa-th fa-2x"></i>
          </span>
          <span class="clear block">
           {{curUser.orgName}}<br>
            <small class="text-muted">{{curUser.branchName}}</small>
          </span>
        </li>
      </ul>
    </div>
</div>